@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head, body, footer{
    font-family: 'Noto Serif', serif;
} 
body {
    background-color: rgb(245, 240, 187);
}

.menu_social{
    text-align: left;
    /* margin: 3% auto;
    margin: 0 auto; */

}
.date{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.3rem;
}
.mtBanner{
    text-align: center;
    display:none;
}
.logo_footer{
    width: 175px;
    height: auto;
}
.discover_title{
    text-align: center;
}
button, button::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'noto serif', cursive;
    background: linear-gradient(45deg, transparent 5%, #5F8D4E 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px rgb(144,200,172);
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #C6D3F5 3%, #C6D3F5 5%, #A4BE7B 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #C6D3F5;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    width: auto;  
    padding: 1rem;
}
.nav-link:hover{
    background-color:rgb(114,147,66);
    color: white;
    border: 3px solid white;
}
.simple-link:hover{
    color: gray;
}
.face img:hover{
    background-color: white;
}
.insta img:hover{
    background-color: white;
}
/* .social:hover{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    max-width: 2%;
    background-color: white;
} */
/* .nav-item{
    height: 100%;
    width: auto;
} */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 4%;
    height: 100px;
    width: auto;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;    
}
.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.hamburger{
    display: block !important;
    margin-left: 93%;
}
.hamburger.active .bar :nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
}

.nav-menu{
    display: none;
    gap: 3rem;
    flex-direction: column;
    background-color: rgb(245, 240, 187);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 2%;
}
.nav-menu.active{
    display: flex;
}
/* .social{
    margin-top: 3%;
} */
/* .social{
    margin: 3% 7%;
} */
.hamburger{
    margin: 0 82%;
}
.social img{
    width: 30px;
}
.news{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    font-size: 60%;
}
.news h1{
    width: 80%;
}
.news p{
    width: 80%;
    font-size: 1rem;
}

 


/* main */
/* main{ */
    /* display: grid; */
    /* gap: 1rem; */
    /* border: 2px solid black; */
    /* height: 100%; */
    /* min-height: 10rem; */
    /* grid-template-columns: 2fr 2fr 2fr 2fr;
    margin: 0% 10% 0% 10%;
    width: 100%;
    max-width: 430px;
} */


/* @media screen and (max-width: 40rem){ */
.menu_social{
    max-width: 340px;
    min-width: 340px;
    margin: 0% auto;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    /* min-width: 340px; */
    margin: 0% auto;
    align-items: center;
}

.category-item{
    border: 1px solid gray;
    height: 300px;
    width: 300px;
    background-color: beige;
    margin: 10px;
}
.Spotlight-parent{
    display: grid;
    /* grid-template-columns: 1fr 1rf; */
    justify-content: center;
    height: 100%;
    width: auto;
    /* position: relative; */
}
.category-item .Spotlight-child{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
}
.join{
    display:none;
    background-image: url();
}
.Spotlight-child-3{
    display: none;
}

/* boxes img */
.hero img {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* max-height: 420px; 
    min-height: 420px; */
    /* object-fit: contain; */
    /* padding: 3%; */
    /* object-position: center top; */
}
.event img {
    top: 0px;
    width: 100%;
    height: 100%;

}
.weather img {
    margin: 10px auto;
    display: block;
}
.category-item h3{
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
}
.temp{
    font-size: 20px;
    text-align: center;
}
.windchill, .windspeed, .titleWeather{
    font-size: 20px;
    text-align: center;
}
.speedChillContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px auto;
}
/* .join img{
    width: 400px;
    height: auto;
    margin: 30px auto;
}
.join{
    display: flex;
    flex-direction: row;
    max-width: 400px;
} */
/* .Spotlight-child first{
    position: relative;
} */

.column img{
    width: 80%;
    margin: 0 auto;
}
.img-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.img-container p{
    padding: 10px;
    margin-bottom: 10px;
}



/* join page  */
.joinCont {
    max-width: 1600px;
    padding: 10px;
    margin-left: 50px;
}
form {
    margin: 0px;
}
form input, select, textarea {
    font-family: var(--paragraphFont);
    margin:0;
    padding: 7px;
    width:95%;
    box-sizing: border-box;
}
form label {
    display: block;
    font-family: var(--paragraphFont);
    margin-top: 15px;
}

.top input, select, textarea {
    display: block;
    border: 1px solid gray;
    border-radius: 3px;
}

.submitbtn {
    background-color: #90C8AC;
    display: block;
    border: none;
    border-radius: 10px;
    color: white;
    width: 70%;
    margin: 20px auto;
   
}
form input:required {
    border-left: 6px solid red;
    
}
form input:required:valid {
    border-left: 6px solid green;
}
.membershipcontainer {
    display: none;
}
.membership {
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin: 0px;
    margin-top: 20px;
    color: rgb(51, 51, 51);
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    padding-bottom: 20px;
   
}
.membership p {
    color: rgb(63, 63, 63);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;

}
.membership ul li {
    font-family: var(--paragraphFont);
    list-style-type: disc;
    
}
.membership ul {
    margin-top: 20px;
    padding-left: 30px;
}
.np p {
    background-color: #73A9AD;
    color: white;
  
}
.bronze p {
    color: white;
    background-color: rgb(199,123,49) ;
}

.silver p {
    color: white;
    background-color: silver;
}
.gold p {
    background-color: rgb(221, 193, 36);
    color: white;
}

/* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} *//* .Spotlight-child first{
    position: relative;
} */

 /* thank you page */

.thankyou {
    max-width: 700px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: white;
    margin: 10% auto;
}
.thankyou h1 {
    margin-bottom: 20px;
}
/* .thankyou .logo {
    color: #007C92;
    text-align: center;
    margin: 0 auto;
} */
.thankyou button {
    background-color: rgb(144,200,172);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 70%;
}
.thankyouLogo{
    max-width: 400px;
    height: auto;
    padding-bottom: 50px;
}




/* footer */
footer{
    /* margin-bottom: 3%; */
    margin-left: 1%;
    margin-right: 1%;
}
.upFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:5%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.upF1 .upF2 .upF3{
    flex-grow: 1;
    min-width: 33.33%;
    /* box-sizing: border-box; */
    /* height: 250px; */
    min-width: 50%;
}
.line{
    height: 1px;
    background: grey;
    width:90%;
    margin: 3% auto;
}
.downFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5%;
}
.downFooterItem{
    margin-bottom: 3%;
}









/* MEDIUM SCREEN */
@media only screen and (min-width:40em){

    .hero{grid-area: hero;}
    .news{grid-area: news;}
    .Spotlight-parent{grid-area: spotlight-parent; flex-direction: row; padding: 10px;}
    .Spotlight-child{ width: 95% ; height: 100%}
    .join{grid-area: join;}
    .event{grid-area: event;}
    .weather{grid-area: weather;}
    
    main{
        display: grid;
        /* gap: 1rem; */
        /* border: 2px solid black; */
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas:
            "hero hero hero"
            "news news news"
            "spotlight-parent spotlight-parent spotlight-parent"
            "join join join"
            "event event weather";
        
        margin: 0 auto;
        max-width: 830px;
        min-width: 830px;
        gap: 20px;
        /* min-width: 780px; */
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        height: 200px;
        width: auto;
    }
    /* .event{
        max-width:60% !important;
    }
    .weather{
        max-width: 40% !important;
    } */
    .Spotlight-parent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .category-item{
        width: auto;
    }
    .Spotlight-child{
        align-self: center;
        padding-left: 45px;
    }
    /* the keyword unset works kind of like an opposite of 
    display:none; it is working so far. */
    .join{
        display: unset;
    
    }
    .hamburger.active .bar :nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }

    /* nav menu that appears */
    /* .hamburger{
        display: block;
        margin-left: 93%;
    } */
    .nav-menu{
        display: none;
        /* left: 0;
        top:70%; */
        gap: 2rem;
        flex-direction: column;
        background-color: rgb(245, 240, 187);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-left: 0;
        padding-top: 3%;
    }
    /* nav-item{
        margin: 16px;
    } */
    .nav-menu.active{
        display: flex;
    }
    .hero img {
        width: 100%;
        /* object-fit: cover; */
        /* object-position: center top; */
        /* height: auto;
        max-height: 420px; 
        min-height: 420px; */
    }
    .hero{
        height: 100%;
    }
    /* .social{
        margin: 0 7%;
    } */
    .hamburger{
        margin: 0 95%;
    }
    .news{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        font-size: 90%;
        margin: 0px;
        margin-top: 10px;
        max-width: 810px;
        margin-left: 10px;
    }
    .news h1{
        width: 90%;
    }
    .news p{
        width: 80%;
        font-size: 1.3rem;
    }
    .menu_social{
        max-width: 830px;
        min-width: 830px;
        margin: 3% auto;
    }

    /* .category-item{
        max-width: ;
    } */
        /* discover page */
        /* .galleryContainer{
            display: flex;
            flex-direction: row;
            width: 100%;
            gap:20px;
        }
        .column{
            display: flex;
            flex-direction: column;
        } */
        .column img{
            width: 100%;
        }
        .img-container p{
            position: relative;
            top: -120px;
            padding: 10px;
            background-color: black;
            color: white;
            visibility: hidden;
        }
        .img-container:hover p{
            visibility: visible;
        }
        .membershipcontainer {
            display: block;
            margin: 0px;
        }
        .joinCont {
            display: grid;
            grid-gap:40px;
            grid-template-columns: auto 1fr;
            justify-content: left;
        }
        form {
            width: 500px;
        }
        .join{
            display: flex;
            flex-direction: column;
            max-width: 810px;
        }
        .join img{
            width: 800px;
            height: auto;
            margin: 30px auto;
        }





 



































}

/* LARGE SCREEN */
/* if screen goes bigger than __ then show 
what's inside the brackets */
/* LARGE SCREEN */
@media only screen and (min-width: 75em){
    .Spotlight-parent{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* max-width: 240px; */
        height: 975px;
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        height: 200px;
        width: auto;
    }
    .news{
        width: 630px;
        margin:10px
    }
    .Spotlight{
        height: 300px;
        width: 300px;
    }
    .Spotlight-child{
        padding: 0%;
        /* margin: 0 auto; */
        max-width: fit-content;
        margin-top: 200px;
    }
  
    main{
        display: grid;
        /* gap: 1rem; */
        /* border: 2px solid black; */
        grid-template-areas:
            "event hero hero spotlight-parent"
            "weather hero hero spotlight-parent"
            "join news news spotlight-parent";
        height: 100%;
        /* width: 75%; */
        margin: 0 auto;
        max-width: 1400px;
    }
    .category-item .Spotlight-child {
        height: auto;
    }
    /* .hero{
        height: 420px;  // .hero height:auto: width: 
    } */
    .Spotlight-child-3{
        display: unset;
    }
    .container{
        margin: auto;
        width: 100%;
    }
    .subcontainer{
        width: 85%;
        margin: 0 auto;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
        height: 4rem;
        width: 75%;
        padding: 0px;
        padding-left: 1%;
        padding-right: 2%;
        left: 0;
        position: relative;
        background-color: rgb(245, 240, 187);
    }
    .hamburger{
        display: none !important;
    }
    
    .hero img {
        /* position: absolute; */
        /* left: 0px;
        top: 0px; */
        width: auto;
        height: 630px;
    }
    .hero{
        height: auto;
        width: auto;
        background-color: rgb(245, 240, 187);
        border: none;
    }
    
    .news{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        font-size: 1rem;
        position: relative;
    }
    .news h1{
        /* width: 80%; */
        position: absolute;
    }
    .news p{
        /* width: 80%; */
        position: absolute;
        margin-top: 120px;
    }




    /* discover page */
    .galleryContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap:20px;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .column img{
        width: 100%;
    }
    .img-container p{
        position: relative;
        top: -120px;
        padding: 10px;
        background-color: black;
        color: white;
        visibility: hidden;
    }
    .img-container:hover p{
        visibility: visible;
    }
    .img-container{
        margin: 0px;
    }
    .column{
        align-items: center;
    }
    .join{
        display: flex;
        flex-direction: column;
        max-width: 810px;
    }
    .join img{
        width: 400px;
        height: auto;
        margin: 30px auto;
    }


}
